@charset "UTF-8";

/* form01 start */
form.form01 {
  font-size: 1.2em;
  line-height: 1.5em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

form.form01 ul li{
  margin-bottom: 10px;
}

form.form01 ul li span.title {
  width: 100px;
	display: inline-block;
  text-align: right;
  margin-right: 0.5em;
  font-weight: bold;
}

form.form01 label {
  margin-right: 0.5em;
}

form.form01 input[type="radio"] {
  margin-right: 0.5em;
}

form.form01 input[type="checkbox"] {
  margin-right: 0.5em;
}

form.form01 ul li.buttonList01 {
  text-align: center;
}

form.form01 ul li.buttonList01 input[type="submit"], form.form01 ul li.buttonList01 input[type="reset"], form.form01 ul li.buttonList01 input[type="button"] {
  margin: 10px;
}

form.form01 input[type="submit"], form.form01 input[type="reset"], form.form01 input[type="button"] {
  width: 100px;
  height: 55px;
  display: table-cell;
  background-color: #F0F8FF;
  border: solid 1px #191970;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

form.form01 input[type="submit"]:hover, form.form01 input[type="reset"]:hover, form.form01 input[type="button"]:hover {
  color: #FFFFFF;
  background-color: #4169E1;
  border: solid 1px #191970;
}

form.form01 input[type="button"].button01 {
  width: 80px;
  height: 20px;
  font-size: 12px;
  font-weight: normal;
}
/* form01 end */